

.v2 .gnb {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.v2 .gnb > li {
  position: relative;
  width: 200px;
  margin: 0 15px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.v2 .gnb > li:last-child {
  margin-right: 0;
}

.v2 .gnb > li > a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 10px;
  display: block;
  text-align: center;
  border-radius: 8px;
  transition: color 0.3s, transform 0.3s;
}

.v2 .gnb > li:hover > a {
  color: #007BFF;
  transform: scale(1.05);
}

.v2 .depth2 {
  display: none;
  position: absolute;
  list-style: none;
  background-color: #ffffff;
  opacity: 0.9;
  width: 100%;
  top: 50px;
  left: 0;
  padding: 0;
  margin: 0;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.v2 .depth2 > ul {
  padding: 0;
  list-style-type: none;
  width: 200px;
}

.v2 .depth2 > ul > li > a {
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  display: block;
  text-align: center;
  transition: color 0.3s;
}

.v2 .depth2 > ul > li:hover > a {
  color: #007BFF;
}

.v2 .gnb > li:hover > .depth2 {
  display: flex;
}